<% content_for :content_header  do %>
  <section class="content-header">
    <h1>Listing <small>codigos</small></h1>

    <ol class="breadcrumb">
      <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">codigos</li>
    </ol>    
  </section>
<% end %>

<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box box-primary">
        <div class="box-header">
          <div class="box-tools pull-right">
            <%= link_to new_codigo_path(@codigo), :class => 'btn btn-success' do %>
              <span class="glyphicon glyphicon-plus"></span>
              New Codigo
            <% end %>          
          </div>
        </div>
        <div class="box-body table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
            
  <th>Codigo carrera</th>
            
                <th></th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <%= @codigos.each do |codigo| %>
            
  <td><%= codigo.codigo_carrera %></td>
            
                <td><%= link_to 'Show', codigo %></td>
                <td><%= link_to 'Edit', edit_codigo_path(codigo) %></td>
                <td><%= link_to 'Destroy', codigo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>

