<section class="content invoice">
  <div class="row">
    <div class="col-md-10">
      <%= form_for(@alumno, :html => { :role => "form" }) do |f| %>
        <% if @alumno.errors.any? %>
          <div class="alert alert-danger alert-dismissable" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">x</button>
            <h4><%= pluralize(@alumno.errors.count, "error") %> prohibited this alumno from being saved:</h4>

            <ul>
            <% @alumno.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

      <div class="form-group">
        <%= f.label :nombre %>
        <%= f.text_field :nombre, :class => "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :apellido %>
        <%= f.text_field :apellido, :class => "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :rut %>
        <%= f.text_field :rut, :class => "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :codigo_carrera %>
        <%= f.number_field :codigo_carrera, :class => "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :semestre %>
        <%= f.number_field :semestre, :class => "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :año_practica %>
        <% dates = 1900..Date.today.year %>
        <%= f.select(:ano, dates.collect {|d| [d.to_s,d.to_s]}, {:include_blank => "Seleccione año"}, {:class => "form-control", :required =>"true"}) %>

      </div>

      <div class="form-group">
        <%= f.submit :class => "btn btn-primary" %>
      </div>

    <% end %>
    </div>
  </div>
</section> 