<% content_for :content_header  do %>
  <section class="content-header">
    <h1>Mostrando <small>Alumnos</small></h1>

    <ol class="breadcrumb">
      <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">Alumnos</li>
    </ol>    
  </section>
<% end %>

<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box box-primary">
        <div class="box-header">
          <% if current_user.role.nombre == "admin"%>
          <div class="box-tools pull-right">
            <%= link_to new_alumno_path(@alumno), :class => 'btn btn-success' do %>
              <span class="glyphicon glyphicon-plus"></span>
              Nuevo Alumno
            <% end %>          
          </div>
          <% end%>
        </div>
        <input class="form-control" id="myInput" type="text" placeholder="Buscar..">
        <div class="box-body table-responsive" id="ocultar-tabla">
          <table class="table table-bordered">
            <thead>
              <tr>
              <th>Nombre</th>
              <th>Rut</th>
              <th>Codigo Carrera</th>
              <th class="text-center">Acción</th>
               
              </tr>
            </thead>
              <tbody id = "datos">
                <% @alumnos.each do |alumno| %>
                  <tr>
                    <% if alumno.practica == nil%>
                    <td><%= alumno.nombre %></td>
                    <td><%= alumno.rut %></td>
                    <td><%= alumno.codigo_carrera %></td>
                    <td>
                      <div class="text-center">
                    <%= link_to  'Asignar', disponibles_url(alumno.id) , :class => "btn btn-success"%>
                    <%= link_to  'Mostrar', alumno , :class => "btn btn-info"%>
                    <%= link_to 'Editar', edit_alumno_path(alumno.id), :class => "btn btn-warning" %>
                    <%= link_to 'Eliminar' , alumno,:class => "btn btn-danger", method: :delete, data: { confirm: '¿Esta seguro de eliminar al alumno?' } %>
                    
                     
                     </div> 
                    </td>
                   <%end%>
                  </tr>
                <% end %> 
              </tbody>
          </table>
          <div class="apple_pagination">
            <div class="page_info">
              <%= page_entries_info @alumnos %>
            </div>
            <%= will_paginate @alumnos, :container => false, :value => "hola" %>
          </div>
        </div>   
      </div>
    </div>
  </div>

</section>

<script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#datos tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>