<% content_for :content_header  do %>
  <section class="content-header">
    <h1>Listando <small>Alumnos</small></h1>

    <ol class="breadcrumb">
      <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">Alumnos</li>
    </ol>    
  </section>
<% end %>


<section class="content">

  <div class="row">
    <div class="col-xs-12">
      <div class="box box-primary">
        <input class="form-control" id="myInput" type="text" placeholder="Buscar..">
        <div class="box-header">

          <% if current_user.role.nombre == "admin" %>

          <div class="box-tools pull-right">
          <%= link_to new_alumno_path(@alumno), :class => 'btn btn-success' do %>
            <span class="glyphicon glyphicon-plus"></span>
              Nuevo Alumno
            <% end %>          
          </div>
          <% end %> 
          
        </div>
                  <div class="hidden" id="cargando">
                  <div class="row text-center">
                      <img src="/img/ajax-loader.gif"/>
                    </div>
                    <div class="row text-center" >
                    <label>Buscando</label>
                    </div>
                  </div>
        <div class="box-body table-responsive" id="ocultar-tabla">
        <table class="table table-bordered">
        <thead>
          <tr>
          <th>Nombre</th>
          <th>Rut</th>
          <th>Codigo Carrera</th>
          <th class="text-center">Acción</th>
           
          </tr>
        </thead>
          <tbody id = "datos">
            <% @alumnos.each do |alumno| %>
              <tr>
                <td><%= alumno.nombre %></td>
                <td><%= alumno.rut %></td>
                <td><%= alumno.codigo_carrera %></td>
                <td>
                  <div class="text-center">

                <%= link_to  'Mostrar', alumno , :class => "btn btn-info"%>
                <% if current_user.role.nombre == "admin"%>
                 <%= link_to 'Editar', edit_alumno_path(alumno), :class => "btn btn-warning" %>
                 <%= link_to 'Eliminar' , alumno,:class => "btn btn-danger", method: :delete, data: { confirm: '¿Esta seguro de eliminar al alumno?' } %>
                 <% end %>
                 <% if current_user.role.nombre == "profesorguia" %>
                <%= link_to  'Detalles', mostrar_2_url(alumno.practica.id), :class => "btn btn-success"%>
                <%= link_to  'Contactar Guia', contactar_url(alumno.practica.id), :class => "btn btn-warning"%>
                <%= link_to  'Evaluar', editar_evaluacion_url(alumno.practica.evaluacion_id), :class => "btn btn-danger"%>
                <%= link_to 'Seguimiento', editar_seguimiento_url(alumno.practica.seguimiento_id), :class => "btn btn-primary" %>
                <% end %>
                 </div> 
                </td>
               
              </tr>
            <% end %> 
          </tbody>
      </table>

          <div class="apple_pagination">
            <div class="page_info">
              <%= page_entries_info @alumnos %>
            </div>
            <%= will_paginate @alumnos, :container => false, :value => "hola" %>
          </div>
        </div>     
      </div>
    </div>
  </div>
</section>
<script type="text/javascript">
    $(document).ready(function(){
  
 
      var Fn = {
        // Valida el rut con su cadena completa "XXXXXXXX-X"
        validaRut : function (rutCompleto) {
            rutCompleto = rutCompleto.replace("‐","-");
            if (!/^[0-9]+[-|‐]{1}[0-9kK]{1}$/.test( rutCompleto ))
                return false;
            var tmp     = rutCompleto.split('-');
            var digv    = tmp[1]; 
            var rut     = tmp[0];
            if ( digv == 'K' ) digv = 'k' ;
            
            return (Fn.dv(rut) == digv );
        },
        dv : function(T){
            var M=0,S=1;
            for(;T;T=Math.floor(T/10))
                S=(S+T%10*(9-M++%6))%11;
            return S?S-1:'k';
        }
    }


    $("#rut").change(function(){
        if (Fn.validaRut( $("#rut").val() )){
            
          
        } else {
            $("#rut").val("");
            alert("El rut ingresado no es valido, verifique los datos ademas de que no haya espacios antes del rut");
        }
      });
    $("#buscar-cliente").click(function(){

     
         if (Fn.validaRut( $("#rut").val() )){
            $("#ocultar-tabla").addClass("hidden");
            $("#cargando").removeClass("hidden");
        } 
      
          
      });


    $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#datos tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });



  });
</script>
