<% content_for :content_header  do %>
  <section class="content-header">
    <h1>Mostrando <small>alumno</small></h1>

    <ol class="breadcrumb">
      <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
      <li><%= link_to "Alumnos", alumnos_path %></li>
      <li class="active">Mostrar</li>
    </ol>
  </section>
<% end %>

<section class="content">
  <div class="row">
    <div class="col-md-12">
    

        <div class="panel panel-default">
      
            <div class="pull-right">
            <%= link_to edit_alumno_path(@alumno), :class => 'btn btn-primary' do %>
              <span class="glyphicon glyphicon-pencil"></span>
              Editar
            <% end %>          
            <%= link_to "Imprimir", "#", onclick: "printPage()",:class => "btn btn-info" %>  
   
          </div>
          <div class="panel-body">
            <dt>Nombre:</dt>
            <dd><%= @alumno.nombre %></dd>

            <dt>Apellido:</dt>
            <dd><%= @alumno.apellido %></dd>

            <dt>Rut:</dt>
            <dd><%= @alumno.rut %></dd>

            <dt>Codigo carrera:</dt>
            <dd><%= @alumno.codigo_carrera %></dd>

            <dt>Semestre:</dt>
            <dd><%= @alumno.semestre %></dd>

            <dt>Ano:</dt>
            <dd><%= @alumno.ano %></dd>
          </div>
        </div>
<script type="text/javascript">
  function printPage() {
    window.print();
  }
</script>


  
        
      </div>
    </div>
  </div>
</section>

