<% content_for :content_header  do %>
  <section class="content-header">
    <h1>Mostrando <small>herramientas</small></h1>

    <ol class="breadcrumb">
      <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">herramientas</li>
    </ol>    
  </section>
<% end %>

<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box box-primary">
        <div class="box-header">
          <div class="box-tools pull-right">
            <%= link_to herramientas_nuevo_path(@herramienta), :class => 'btn btn-success' do %>
              <span class="glyphicon glyphicon-plus"></span>
              Nueva Herramienta
            <% end %>          
          </div>
          <div class="box-tools pull-left">
          <div class="panel panel-primary">
            <div class="panel-heading">Busqueda</div>
            <div class="panel-body">  
                <form>
                <label>Ingrese un nombre de herramientra para buscar</label>
                  <input name="q" <%= @q %> class="form-control" placeholder="Ej: sql server" id="rut" required = "true" >
                  <br>
                  <button type="submit" class="btn btn-primary" id="buscar-cliente">Buscar<i class="fa fa-search"></i></button>
                </form>
            </div>
          </div>

        </div>
      </div>
                <div class="hidden" id="cargando">
                <div class="row text-center">
                    <img src="/img/ajax-loader.gif"/>
                  </div>
                  <div class="row text-center" >
                  <label>Buscando</label>
                  </div>
                </div>
          <div class="box-body table-responsive" id="ocultar-tabla">
          <table class="table table-bordered">
            <thead>
              <tr>
              <th>Nombre</th>
              <th class="text-center">Acción</th>
               
              </tr>
            </thead>
              <tbody>
                <% @herramientas.each do |herramienta| %>
                  <tr>
						<td> <%= herramienta.nombre %> </td>
						<td>

                     <div class="text-center">
							<%= link_to 'MOSTRAR', herramienta_url(herramienta),:class => "btn btn-info"%>
							<%= link_to 'EDITAR', herramientum_url(herramienta) , :class => "btn btn-warning"%> 
							<%= link_to 'ELIMINAR', eliminar_herramienta_url(herramienta),:class => "btn btn-danger", 
													method: :delete,
													data: {confirm: '¿ESTAS SEGURO?'} %> </td>
                     </div> 
                    </td>
                   
                  </tr>
                <% end %> 
              </tbody>
          </table>
          <div class="apple_pagination">
            <div class="page_info">
              <%= page_entries_info @herramientas %>
            </div>
            <%= will_paginate @herramientas, :container => false, :value => "hola" %>
          </div>
        </div>   
      </div>
    </div>
  </div>
</section>
<script type="text/javascript">
  $(document).ready(function(){
  $("#buscar-cliente").click(function(){
    
        
                $("#ocultar-tabla").addClass("hidden");
                $("#cargando").removeClass("hidden");
            
          
              
          });
    
    
    
      });
  </script>