<% content_for :content_header  do %>
  <section class="content-header">
    <h1>Mostrando <small>Profecional Guia</small></h1>

    <ol class="breadcrumb">
      <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">Profecional Guia</li>
    </ol>    
  </section>
<% end %>

<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box box-primary">
        <div class="box-header">
          <div class="box-tools pull-right">
            <%= link_to profesional_guia_nuevo_path(@profesionalGuia), :class => 'btn btn-success' do %>
              <span class="glyphicon glyphicon-plus"></span>
              Nuevo Profesional Guia
            <% end %>          
          </div>
        </div>
        <div class="box-body table-responsive" id="ocultar-tabla">
          <table class="table table-bordered">
            <thead>
              <tr>
        				<th>Nombre</th>
        				<th>Cargo</th>
              <th class="text-center">Acción</th>
              </tr>
            </thead>
              <tbody>
                <% @profesionalGuia.each do |profesionalGuia| %>
                  <tr>
					<td> <%= profesionalGuia.Nombre %> </td>
					<td> <%= profesionalGuia.Cargo %> </td>
					<td>

                      <div class="text-center">
							<%= link_to 'MOSTRAR', profesional_guia_url(profesionalGuia),:class => "btn btn-info"%>
							<%= link_to 'EDITAR', profesional_guium_url(profesionalGuia), :class => "btn btn-warning"%> 
							<%= link_to 'ELIMINAR', profesional_guia_url(profesionalGuia),:class => "btn btn-danger", 
													method: :delete,
													data: {confirm: '¿ESTAS SEGURO?'} %> </td>
                     </div> 
                    </td>
                   
                  </tr>
                <% end %> 
              </tbody>
          </table>
          <div class="apple_pagination">
            <div class="page_info">
              <%= page_entries_info @profesionalGuia %>
            </div>
            <%= will_paginate @profesionalGuia, :container => false, :value => "hola" %>
          </div>
        </div>   
      </div>
    </div>
  </div>
</section>