<% content_for :content_header  do %>
    <section class="content-header">
      <h1>Mostrando <small>Profecioneales Guia</small></h1>
  
      <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><%= link_to "Profecionales Guia", profesional_guia_path %></li>
        <li class="active">Mostrar</li>
      </ol>
    </section>
  <% end %>
  <section class="content">
    <div class="row">
      <div class="col-md-12">
          <div class="panel panel-default">
              <div class="pull-right">
              <%= link_to profesional_guium_path(@profesionalGuia), :class => 'btn btn-primary' do %>
                <span class="glyphicon glyphicon-pencil"></span>
                Editar
              <% end %>          
            </div>
            <div class="panel-body">
              <dt>Rut:</dt>
              <dd><%= @profesionalGuia.rut %></dd>
              <dt>Nombre:</dt>
              <dd><%= @profesionalGuia.Nombre %></dd>
              <dt>Cargo:</dt>
              <dd><%= @profesionalGuia.Cargo %></dd>
              <dt>Email:</dt>
              <dd><%= @profesionalGuia.Email %></dd>
              <dt>Direccion:</dt>
              <dd><%= @profesionalGuia.Direccion %></dd>
              <dt>Telefono:</dt>
              <dd><%= @profesionalGuia.Telefono %></dd>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>