<h1>Mostrar profesional guia</h1>
<h2>rut</h2>
<%= @profesionalGuia.rut %>
<h2>Nombre</h2>
<%= @profesionalGuia.Nombre %>
<h2>Cargo</h2>
<%= @profesionalGuia.Cargo %>
<h2>Email</h2>
<%= @profesionalGuia.Email %>
<h2>Direccion</h2>
<%= @profesionalGuia.Direccion %>
<h2>Telefono</h2>
<%= @profesionalGuia.Telefono %>