<section class="content invoice">
<div class="row">
  <div class="col-md-10">
    <%= form_for(@convenios,url: crear_convenio_url(params[:id]) ,:html => { :role => "form" }) do |f| %>
    <% if @convenios.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">x</button>
      <h4><%= pluralize(@convenios.errors.count, "error") %> </h4>
      <ul>
        <% @convenios.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
    <% end %>
    <div class="form-group">
      <br>
        <%= f.label :nombre %>
        <%= f.text_field :nombre,:class => "form-control", :id => "nombre", :required => "true",maxlength: 25, minlength: 2  %> 
        </br>
    </div>
    <div class="form-group">
        <%= f.label :fecha_inicio %>
        <%= f.text_field :fecha_inicio,:class => "form-control datepicker" , :readonly =>"true", :required => "true", :id => "fecha_inicio"   %> 
        </br>
    </div>
    <div class="form-group">
        <%= f.label :fecha_termino %>
        <%= f.text_field :fecha_termino,:class => "form-control datepicker" , :readonly =>"true", :required => "true", :id=>"fecha_termino"   %>
        </br>
    </div>
    <div class="form-group">
        <%= f.label :descripcion %>
        <%= f.text_area :descripcion,:class => "form-control",:required => "true"   %>
        </br>
    </div>
    <div class="form-group">
        <%= f.submit (@convenios.persisted? ? 'Editar' : 'Crear'), :class =>"btn btn-primary",:id => "enviar" %>
    </div>
  <% end %>
  </div>
</div>
</section> 
<script>
$(document).ready(function(){
  $('.datepicker').datepicker({
    language: 'es',
    format : 'yyyy-mm-dd'
    });

  $("#nombre").keypress(function (key) {
            window.console.log(key.charCode)
            if ((key.charCode < 97 || key.charCode > 122)//letras mayusculas
                && (key.charCode < 65 || key.charCode > 90) //letras minusculas
                && (key.charCode != 45) //retroceso
                && (key.charCode != 241) //ñ
                 && (key.charCode != 209) //Ñ
                 && (key.charCode != 32) //espacio
                 && (key.charCode != 225) //á
                 && (key.charCode != 233) //é
                 && (key.charCode != 237) //í
                 && (key.charCode != 243) //ó
                 && (key.charCode != 250) //ú
                 && (key.charCode != 193) //Á
                 && (key.charCode != 201) //É
                 && (key.charCode != 205) //Í
                 && (key.charCode != 211) //Ó
                 && (key.charCode != 218) //Ú
 
                )
                return false;
      });
      	$("#enviar").click(function(){
            var fecha_inicio = $("#fecha_inicio").val();
            var fecha_termino = $("#fecha_termino").val();
          
            if (fecha_inicio == ''){
                alert("Recuerde ingresar fecha de inicio");
            }
            if(fecha_termino == ''){
                alert("Recuerde ingresar fecha de termino");
            }
        
        });

});
</script>