<% content_for :content_header  do %>
  <section class="content-header">
    <h1>Listing <small>convenios</small></h1>

    <ol class="breadcrumb">
      <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">convenios</li>
    </ol>    
  </section>
<% end %>
<h1> CONVENIOS </h1>
<table border="1">
<tr>
	<th> nombre </th>
	<th> fecha_inicio </th>
	<th> fecha_termino </th>
	<th> descripcion </th>
</tr>
<% @convenios.each do |f| %>
<tr>
	<td> <%= f.nombre %> </td>
	<td> <%= f.fecha_inicio %> </td>
	<td> <%= f.fecha_termino %> </td>
	<td> <%= f.descripcion %> </td>
	<td> <%= link_to 'MOSTRAR', convenio_url(f) %> </td>
	<td> <%= link_to 'EDITAR', editar_convenio_url(f) %> </td>
	<td> <%= link_to 'ELIMINAR', eliminar_convenio_url(f), 
			method: :delete,
			data: {confirm: '¿ESTAS SEGURO?'} %> </td>
</tr>
<% end %>