<% content_for :content_header  do %>
  <section class="content-header">
    <h1>Mostrando <small>Evaluaciones</small></h1>

    <ol class="breadcrumb">
      <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">Evaluaciones</li>
    </ol>    
  </section>
<% end %>

<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box box-primary">
        <div class="box-header">
          <div class="box-tools pull-right">
            <%= link_to evaluacions_nuevo_path(@evaluacion), :class => 'btn btn-success' do %>
              <span class="glyphicon glyphicon-plus"></span>
              Nueva Evaluacion
            <% end %>          
          </div>
        </div>
        <div class="box-body table-responsive" id="ocultar-tabla">
          <table class="table table-bordered">
            <thead>
              <tr>
              <th>Nota</th>
              <th>Observacion</th>
              <th class="text-center">Acción</th>
              </tr>
            </thead>
              <tbody>
                <% @evaluacions.each do |evaluacion| %>
                  <tr>
                  <td> <%= evaluacion.nota %> </td>
									<td> <%= evaluacion.observacion %> </td>
									<td>

                      <div class="text-center">
									<%= link_to 'MOSTRAR', evaluacion_url(evaluacion),:class => "btn btn-info"%>
									<%= link_to 'EDITAR', editar_evaluacion_url(evaluacion) , :class => "btn btn-warning"%> 
									<%= link_to 'ELIMINAR', eliminar_evaluacion_url(evaluacion),:class => "btn btn-danger", 
													method: :delete,
													data: {confirm: '¿ESTAS SEGURO?'} %> </td>
                     </div> 
                    </td>
                   
                  </tr>
                <% end %> 
              </tbody>
          </table>
          <div class="apple_pagination">
            <div class="page_info">
              <%= page_entries_info @evaluacions %>
            </div>
            <%= will_paginate @evaluacions, :container => false, :value => "hola" %>
          </div>
        </div>   
      </div>
    </div>
  </div>
</section>