<h1>evaluaciones</h1>
<table border="1">
<tr>
	<th>pregunta 1</th>
	<th>pregunta 2</th>
	<th>pregunta 3</th>
	<th>pregunta 4</th>
	<th>pregunta 5</th>
	<th>pregunta 6</th>
	<th>pregunta 7</th>
	<th>pregunta 8</th>
	<th>observacion</th>
	<th>fecha evaluacion</th>
	<th>nota</th>
	<th>nota informe</th>
</tr>
<% @evaluacion.each do |f| %>
<tr>
	<td><%= f.pregunta_1 %></td>
	<td><%= f.pregunta_2 %></td>
	<td><%= f.pregunta_3 %></td>
	<td><%= f.pregunta_4%></td>
	<td><%= f.pregunta_5%></td>
	<td><%= f.pregunta_6 %></td>
	<td><%= f.pregunta_7 %></td>
	<td><%= f.pregunta_8 %></td>
	<td><%= f.observacion %></td>
	<td><%= f.fecha_evaluacion %></td>
	<td><%= f.nota %></td>
	<td><%= f.nota_informe %></td>
</tr>
<% end %>