<h1> MOSTRAR EVALUACION </h1>
<table border="1">
<tr>
<td> PREGUNTA 1 </td>
<td><%= @evaluacions.pregunta_1 %></td>
</tr>
<tr>
<td> PREGUNTA 2 </td>
<td><%= @evaluacions.pregunta_2 %></td>
</tr>
<tr>
<td> PREGUNTA 3 </td>
<td><%= @evaluacions.pregunta_3 %></td>
</tr>
<tr>
<td> PREGUNTA 4 </td>
<td><%= @evaluacions.pregunta_4 %></td>
</tr>
<tr>
<td> PREGUNTA 5 </td>
<td><%= @evaluacions.pregunta_5 %></td>
</tr>
<tr>
<td> PREGUNTA 6 </td>
<td><%= @evaluacions.pregunta_6 %></td>
</tr>
<tr>
<td> PREGUNTA 7 </td>
<td><%= @evaluacions.pregunta_7 %></td>
</tr>
<tr>
<td> PREGUNTA 8 </td>
<td><%= @evaluacions.pregunta_8 %></td>
</tr>
<tr>
<td> OBSERVACION  </td>
<td><%= @evaluacions.observacion %></td>
</tr>
<tr>
<td> FECHA DE EVALUACION  </td>
<td><%= @evaluacions.fecha_evaluacion %></td>
</tr>
<tr>
<td> NOTA </td>
<td><%= @evaluacions.nota %></td>
</tr>
<tr>
<td> NOTA DE INFORME DE PRACTICA  </td>
<td><%= @evaluacions.nota_informe_practica %></td>
</tr>
