

<% content_for :content_header  do %>
    <section class="content-header">
      <h1>Mostrando <small>Evaluaciones</small></h1>
  
      <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><%= link_to "Evaluaciones", evaluacions_path %></li>
        <li class="active">Mostrar</li>
      </ol>
    </section>
  <% end %>
  
  <section class="content">
    <div class="row">
      <div class="col-md-12">
      
  
          <div class="panel panel-default">
        
              <div class="pull-right">
              <%= link_to editar_evaluacion_path(@evaluacions), :class => 'btn btn-primary' do %>
                <span class="glyphicon glyphicon-pencil"></span>
                Editar
              <% end %>          
     
            </div>
            <div class="panel-body">
              <dt>Pregunta 1:</dt>
              <dd><%= @evaluacions.pregunta_1 %></dd>
  
              <dt>Pregunta 2:</dt>
              <dd><%= @evaluacions.pregunta_2 %></dd>
  
              <dt>Pregunta 3:</dt>
              <dd><%= @evaluacions.pregunta_3 %></dd>

              <dt>Pregunta 4:</dt>
              <dd><%= @evaluacions.pregunta_4 %></dd>
  
              <dt>Pregunta 5:</dt>
              <dd><%= @evaluacions.pregunta_5 %></dd>
  
              <dt>Pregunta 6:</dt>
              <dd><%= @evaluacions.pregunta_6 %></dd>
              <dt>Pregunta 7:</dt>
              <dd><%= @evaluacions.pregunta_7 %></dd>
  
              <dt>Pregunta 8:</dt>
              <dd><%= @evaluacions.pregunta_8 %></dd>
  
 
  
              <dt>Observaciòn:</dt>
              <dd><%= @evaluacions.observacion %></dd>
  
              <dt>Fecha de evaluaciòn:</dt>
              <dd><%= @evaluacions.fecha_evaluacion %></dd>
  
              <dt>Nota informe de practica:</dt>
              <dd><%= @evaluacions.nota %></dd>
            </div>
          </div>
           
        
        </div>
      </div>
    </div>
  </section>
  
  