<section class="content invoice">
    <div class="row">
        <div class="col-md-10">
            <%= form_for(@seguimiento, :html => {:role => 'form'}) do |f| %>
            <% if @seguimiento.errors.any? %>
            <div class="alert alert-danger alert-dismissable" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">x</button>
              <h4><%= pluralize(@seguimiento.errors.count, "error") %> </h4>
              <ul>
                <% @seguimiento.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
            <% end %>

                <div class="form-group">
                    <%= f.label :fecha_1 %>
                    <%= f.text_field :fecha_1,:class => "form-control datepicker" ,:readonly =>"true", :id =>"fecha_1", :required =>"true" %>
                </div>
                <div class="form-group">
                    <%= f.label :comentario_visita_1 %>
                    <%= f.text_area :comentario_visita_1,:class => "form-control" %>
                    </br>
                </div>
                <div class="form-group">
                    <%= f.label :fecha_2 %>
                    <%= f.text_field :fecha_2,:class => "form-control datepicker",:readonly =>"true", :id =>"fecha_2", :required =>"true"  %>
                </div>
                <div class="form-group">
                    <%= f.label :comentario_visita_2 %>
                    <%= f.text_area :comentario_visita_2,:class => "form-control" %>
                    </br>
                </div>
                <div class="form-group">
                    <%= f.label :fecha_3 %>
                    <%= f.text_field :fecha_3,:class => "form-control datepicker" ,:readonly =>"true", :id =>"fecha_3", :required =>"true" %>
                </div>
                <div class="form-group">
                    <%= f.label :comentario_visita_3 %>
                    <%= f.text_area :comentario_visita_3,:class => "form-control" %>
                    </br>
                </div>
                <div class="form-group">
                    <%= f.submit (@seguimiento.persisted? ? 'Editar' : 'Crear'), :class =>"btn btn-primary",:id => "enviar" %>
                </div>
            <% end %>
        </div>
    </div>
</section>
<script>
$(document).ready(function(){

    $('.datepicker').datepicker({
        language: 'es',
        format : 'yyyy-mm-dd'
    });

    $('.datepicker').datepicker({
        language: 'es',
        format : 'yyyy-mm-dd'
    });
	$("#enviar").click(function(){
		var fecha_1 = $("#fecha_1").val();
        var fecha_2 = $("#fecha_2").val();
        var fecha_3 = $("#fecha_3").val();
      
        if (fecha_1 == ''){
            alert("Recuerde ingresar fecha de la primera visita");
        }
        if(fecha_2 == ''){
            alert("Recuerde ingresar fecha de la segunda visita");
        }
        if(fecha_3 == ''){
            alert("Recuerde ingresar fecha de la tercera visita");
        }
     
    });
 
 
     
});
</script>