<h1>Seguimientos</h1>
<table border="1">
<tr>
	<th>FECHA 1</th>
	<th>COMENTARIO 1</th>
	<th>FECHA 2</th>
	<th>COMENTARIO 2</th>
	<th>FECHA 3</th>
	<th>COMENTARIO 3</th>
</tr>
<% @seguimientos.each do |f| %>
<tr>
	<td><%= f.fecha_1 %></td>
	<td><%= f.comentario_visita_1 %></td>
	<td><%= f.fecha_2 %></td>
	<td><%= f.comentario_visita_2%></td>
	<td><%= f.fecha_3%></td>
	<td><%= f.comentario_visita_3 %></td>
	<td><%= link_to 'MOSTRAR', seguimiento_url(f) %></td>
	<td><%= link_to 'EDITAR', editar_seguimiento_url(f) %></td>
	<td><%= link_to 'ELIMINAR', eliminar_seguimiento_path(f),
                method: :delete,
                data: {confirm: '¿Estas seguro?'} %></td>
</tr>
<% end %>