<h1>Mostrar Seguimiento</h1>
<h2>Fecha 1</h2>
<%= @seguimiento.fecha_1 %>
<h2>comentario de la visita 1</h2>
<%= @seguimiento.comentario_visita_1 %>
<h2>Fecha 2</h2>
<%= @seguimiento.fecha_2 %>
<h2>comentario de la visita 2</h2>
<%= @seguimiento.comentario_visita_2 %>
<h2>Fecha 3</h2>
<%= @seguimiento.fecha_3 %>
<h2>comentario de la visita 3</h2>
<%= @seguimiento.comentario_visita_3 %>