<% content_for :content_header  do %>
  <section class="content-header">
    <h1>Show <small>seguimiento</small></h1>

    <ol class="breadcrumb">
      <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
      <li><%= link_to "Seguimientos", seguimientos_path %></li>
      <li class="active">Show</li>
    </ol>
  </section>
<% end %>

<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="box box-primary">
        <div class="box-header">
          <div class="box-tools pull-right">
            <%= link_to edit_seguimiento_path(@seguimiento), :class => 'btn btn-primary' do %>
              <span class="glyphicon glyphicon-pencil"></span>
              Edit
            <% end %>          
          </div>
        </div>
        <div class="box-body">
          <dl class="dl-horizontal">

            <dt>Fecha 1:</dt>
            <dd><%= @seguimiento.fecha_1 %></dd>


            <dt>Comentario visita 1:</dt>
            <dd><%= @seguimiento.comentario_visita_1 %></dd>


            <dt>Fecha 2:</dt>
            <dd><%= @seguimiento.fecha_2 %></dd>


            <dt>Comentario visita 2:</dt>
            <dd><%= @seguimiento.comentario_visita_2 %></dd>


            <dt>Fecha 3:</dt>
            <dd><%= @seguimiento.fecha_3 %></dd>


            <dt>Comentario visita 3:</dt>
            <dd><%= @seguimiento.comentario_visita_3 %></dd>


          </dl>
        </div>
      </div>
    </div>
  </div>
</section>

