<section class="content invoice">
  <div class="row">
    <div class="col-md-10">
    <%= form_for(user_path, :html => { :role => "form" }) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@users.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    


  <p><%= f.label :email %><br />
  <%= f.email_field :email %></p>






      <p><%= f.label :password, "New password" %><br />
      <%= f.password_field :password %></p>

      <p><%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation %></p>



  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
    </div>
  </div>
</section> 
<script>
  $(document).ready(function(){
    
    $('#hola').on('change', function() {
        var valor = this.value;
        var total = 0;
        $('#precio_id_id').val(valor);
        var combo = document.getElementById("precio_id_id");
        var selected = combo.options[combo.selectedIndex].text;
       // alert(selected);
        total = parseInt($('#cantidad').val())*parseInt(selected);
        $('#precio_venta').val(selected);
        var cantidad = parseInt($('#cantidad').val());
        $('#cantidad').attr("readonly", false);
        if(isNaN(cantidad)) {
         
        }else{
          var precio_venta = parseInt($('#precio_venta').val());
          var cantidad = parseInt($('#cantidad').val());
          total = cantidad*precio_venta;
          $("#total").val(total);
        }
       
    });
    $("#cantidad").change(function(){
          var total = 0;
          var precio_venta = parseInt($('#precio_venta').val());
          var cantidad = parseInt($('#cantidad').val());
          total = cantidad*precio_venta;
          $("#total").val(total);

      });
  });

</script>