<% content_for :content_header  do %>
    <section class="content-header">
      <h1>Mostrando <small>Practicas</small></h1>
  
      <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><%= link_to "Practicas", disponibles_path %></li>
        <li class="active">Mostrar</li>
      </ol>
    </section>
  <% end %>
  <section class="content">
    <div class="row">
      <div class="col-md-12">
          <div class="panel panel-default">
              <div class="pull-right">
              <%= link_to esta_practica_path(params[:id],@practica.id) do %>        
                <button type="button" class="btn-lg  btn-primary" >Escoger</button>
                <%end%>

            </div>
            <div class="panel-body">
              <dt>Fecha Inicio:</dt>
              <dd><%= @practica.fecha_inicio %></dd>
              <dt>Fecha Termino:</dt>
              <dd><%= @practica.fecha_termino %></dd>
              <dt>Descripcion:</dt>
              <dd><%= @practica.descripcion_p %></dd>
              <dt>Area:</dt>
              <dd><%= @area.nombre %></dd>
              <dt>Empresa:</dt>
              <dd><%= @empresa.nombre_empresa %></dd>
              <dt>Direccion:</dt>
              <dd><%= @guia.Direccion %></dd>
              <dt>Profesional Guia:</dt>
              <dd><%= @guia.Nombre %></dd>
              <dt>Cargo:</dt>
              <dd><%= @guia.Cargo %></dd>
              


            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
