<h1>Estadistica de Practicas segun Empresas</h1>
<%= link_to "Imprimir", "#", onclick: "printPage()",:class => "btn btn-info" %> 
<%= pie_chart @emp %>
<%total = Empresa.joins(:practica).count%>
<table class="table table-bordered">
        <thead>
          <tr>
          <th>Empresa</th>
          <th>cantidad</th>
          <th>porcentaje</th>
           
          </tr>
        </thead>
          <tbody>
            <% @emp.each do |c| %>
              <tr>


                <td><%= c[0] %></td>
                <td><%= c[1] %></td>
                <td><%= (c[1].to_f/total)*100 %>%</td>
             
                
               
              </tr>
            <% end %> 
          </tbody>
      </table>
<script type="text/javascript">
  function printPage() {
    window.print();
  }
</script>