<% content_for :content_header  do %>
  <section class="content-header">
    <h1>Mostrando <small>Practicas</small></h1>

    <ol class="breadcrumb">
      <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">Practicas</li>
    </ol>    
  </section>
<% end %>

<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box box-primary">
        <div class="box-body table-responsive" id="ocultar-tabla">
          <table class="table table-bordered">
            <thead>
              <tr>
              <th>Fecha Inicio</th>
              <th>Fecha Termino</th>
              <th>Empresa</th>
              <th class="text-center">Acción</th>
               
              </tr>
            </thead>
              <tbody>
                <% @practica.each do |practica| %>
              
                  <tr>
                  <td> <%= practica.fecha_inicio %> </td>
                  <td> <%= practica.fecha_termino %> </td>
                  <% if practica.empresa_id != nil
                   a= Empresa.joins(:practica).where(id: practica.empresa_id) %> </td>
                  <td><%= a.first.nombre_empresa %> </td>
                  <%else%>
                  <td>Sin empresa</td>
                  <%end%>

                  <td>
                      <div class="text-center">
                      <%= link_to 'MOSTRAR', practica_url(practica),:class => "btn btn-info"%>
                      <%= link_to 'EDITAR', editar_practica_url(practica) , :class => "btn btn-warning"%> 
                      <%= link_to 'ELIMINAR', eliminar_practica_url(practica),:class => "btn btn-danger", 
                          method: :delete,
                          data: {confirm: '¿ESTAS SEGURO?'} %> </td>
                     </div> 
                    </td>
                   
                  </tr>
                <% end %> 
              </tbody>
          </table>
          <div class="apple_pagination">
            <div class="page_info">
              <%= page_entries_info @practica %>
            </div>
            <%= will_paginate @practica, :container => false, :value => "hola" %>
          </div>
        </div>   
      </div>
    </div>
  </div>
</section>
