<% content_for :content_header  do %>
  <section class="content-header">
    <h1>Mostrando <small>Practicas</small></h1>

    <ol class="breadcrumb">
      <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">Practicas</li>
    </ol>    
  </section>
<% end %>


<section class="content">
  
  <div class="row">
    <div class="col-xs-12">
      <div class="box box-primary">

        <input class="form-control" id="myInput" type="text" placeholder="Buscar..">
        <div class="box-body table-responsive" id="ocultar-tabla">
          <table class="table table-bordered">
            <thead>
              <tr>
              <th>Fecha Inicio</th>
              <th>Area</th>
              <th>Empresa</th>
              <th class="text-center">Opciones</th>
              
              </tr>
            </thead>
              <tbody id = "datos">
                <% @practica.each do |practica| %>
              
                  <tr>
                  <td> <%= practica.fecha_inicio %> </td>
                  <% if practica.area_id != nil
                   a= Area.joins(:practica).where(id: practica.area_id) %> </td>
                  <td><%= a.first.nombre %> </td>
                  <% else %>
                  <td>Sin area asignada</td>
                  <%end%>
                  <% if practica.empresa_id != nil
                   a= Empresa.joins(:practica).where(id: practica.empresa_id) %> </td>
                  <td><%= a.first.nombre_empresa %> </td>
                  <% else %>
                  <td>Sin empresa asignada</td>
                  <%end%>
                  <td>
                      <div class="text-center">
                        <%if practica.profesional_guia_id == nil %>
                           <%= link_to 'Completar', nuevo_profesionalGuia_url(practica.id),:class => "btn btn-info"%>
                        <%elsif practica.empresa_id == nil %>
                            <%= link_to 'Completar', nueva_empresa_url(practica.id),:class => "btn btn-info"%>
                        <%elsif practica.convenio_id == nil and practica.area_id == nil %> 
                            <%= link_to 'Completar', preguntaC_url(practica.id),:class => "btn btn-info"%>
                        <%elsif practica.area_id == nil %>
                            <%= link_to 'Completar', nueva_area_url(practica.id),:class => "btn btn-info"%>
                        <%elsif practica.herramienta_id == nil%>
                            <%= link_to 'Completar', nueva_herramienta_url(practica.id),:class => "btn btn-info"%>
                        <%else%>
                            <%= link_to 'Mostrar', mostrar_2_url(practica.id),:class => "btn btn-info"%>
                        <%end%>
                        <% if  practica.herramienta_id != nil%>
                      <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Editar
                        <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                          <%= nav_link profesional_guium_url(practica.profesional_guia_id) do %>
                            <li>profesional guia</li>
                          <%end%>
                          <%= nav_link editar_empresa_url(practica.empresa_id) do %>
                          <li>empresa</li>
                          <%end%>
                          <%= nav_link editar_area_url(practica.area_id) do %>
                          <li>area</li>
                          <%end%>
                          <%= nav_link herramientum_url(practica.herramienta_id) do %>
                          <li>herramienta</li>
                          <%end%>

                        </ul>
                      </div>
                      <%end%>                        

                     </div> 
                    </td>
                   
                        
                        
                      

                   
                  </tr>
                <% end %> 
              </tbody>
          </table>
          <div class="apple_pagination">
            <div class="page_info">
              <%= page_entries_info @practica %>
            </div>
            <%= will_paginate @practica, :container => false, :value => "hola" %>
          </div>
        </div>   
      </div>
    </div>
  </div>
</section>


<script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#datos tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>