<% content_for :content_header  do %>
  <section class="content-header">
    <h1>Listing <small>empresas</small></h1>

    <ol class="breadcrumb">
      <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">empresas</li>
    </ol>    
  </section>
<% end %>
<h1> EMPRESAS </h1>
<table border="1">
<tr>
	<th> rut_empresa </th>
	<th> nombre_empresa </th>

</tr>
<% @empresas.each do |f| %>
<tr>
	<td> <%= f.rut_empresa %> </td>
	<td> <%= f.nombre_empresa %> </td>
	<td> <%= link_to 'MOSTRAR', empresa_url(f) %> </td>
	<td> <%= link_to 'EDITAR', editar_empresa_url(f) %> </td>
	<td> <%= link_to 'ELIMINAR', eliminar_empresa_url(f), 
			method: :delete,
			data: {confirm: '¿ESTAS SEGURO?'} %> </td>
	
</tr>
<% end %>