<header class="header">
<a href="http://localhost:3000" class="logo icon">
  <!-- Add the class icon to your logo image or logo icon to add the margining -->
  <p style="color:white"><img src="/img/utem.png"/>GPA UTEM</p>
</a>
<!-- Header Navbar: style can be found in header.less -->
<nav class="navbar navbar-static-top" role="navigation">
  <!-- Sidebar toggle button-->
  <div class="navbar-btn sidebar-toggle" data-toggle="offcanvas" role="button"  id ="button">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </div>
  <div class="navbar-right">
    <ul class="nav navbar-nav">

      <!-- User Account: style can be found in dropdown.less -->
      <li class="dropdown user user-menu">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          <i class="glyphicon glyphicon-user"></i>
          <span><%= current_user.email %> <i class="caret"></i></span>
        </a>
        <ul class="dropdown-menu">
          <!-- User image -->
          <li class="user-header bg-light-blue">
            <img src="/img/avatar3.png" class="img-circle" alt="User Image" />
            <p>
              <small><%= current_user.nombre %></small>
              <small>Miembro desde <%= current_user.created_at %></small>
            </p>
          </li>
          <!-- Menu Body -->

          <!-- Menu Footer-->
          <li class="user-footer">
            <div class="form-group">
    
              <%= link_to "Editar",edit_user_registration_path ,  :class => "btn btn-primary"%>
              <%= link_to "Salir",destroy_user_session_path , method: :delete , :class => "btn btn-warning"%>
              <%= link_to "Eliminarme",cancel_user_registration_path , method: :delete , :class => "btn btn-danger"%>
         
            </div>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
</header>