<section class="sidebar">

  <!-- sidebar menu: : style can be found in sidebar.less -->

  <ul class="sidebar-menu dropdown-toggle">

    <% if current_user.role.nombre == "profesorguia"%>

      <li class="treeview" id="l">
        <%= nav_link alumnos_path do %>
        <i class="fa fa-file-text"></i> <span>Alumnos</span>
        <% end %>
      </li>

      <li class="treeview" id="n">
          <%= nav_link seguimientos_path do %>
          <i class="fa fa-tasks"></i> <span>Planilla de Evaluaciones</span>
          <% end %>
      </li>
    <% end %>


    <% if current_user.role.nombre == "admin"%>
    <li class="treeview" id="z">
           <%= nav_link alumnos_sin_asignar_path do %>
              <i class="fa fa-users"></i> <span>Asignar Alumnos</span>
           <% end %>
    </li>

    
    <li class="treeview" id="5">
          <a >
            <i class="fa fa-pie-chart"></i> <span>Estadisticas</span>
            <span class="pull-right-container" >
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>

          <ul class="sub-menu active" style="display: none;" id="6">
            <%= nav_link estadistica_alum_path do %>
              <i class="fa fa-list"></i>
               Segun Año de Practica 
           <% end %>
           <%= nav_link estadistica_area_path do %>
              <i class="fa fa-list"></i>
               Segun Area 
           <% end %>
           <%= nav_link estadistica_empresa_path do %>
              <i class="fa fa-list"></i>
               Segun Empresa 
           <% end %>
           <%= nav_link estadistica_herramientas_path do %>
              <i class="fa fa-list"></i>
               Segun Herramienta 
           <% end %>
          </ul>
    </li>
    <% end %>


    <% if current_user.role.nombre == "secretaria"%>
      <li class="treeview" id="p">
        <a >
          <i class="fa fa-file-text"></i> <span>Inscripcion de Alumno</span>
          <span class="pull-right-container" >
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="sub-menu active" style="display: none;" id="x">
          <%= nav_link ofertaAlumno_path do %>
          <i class="fa fa-plus"></i>
          Agregar Alumno
          <% end %>
          <%= nav_link Apendientes_path() do %>
          <i class="fa fa-plus"></i>
          Alumnos pendientes
          <% end %>
        </ul>
      </li>

      <li class="treeview" id="j">
        <a >
          <i class="fa fa-file-text"></i> <span>Ofertas de Practicas</span>
          <span class="pull-right-container" >
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="sub-menu active" style="display: none;" id="k">
          <%= nav_link ver_actuales_path() do %>
          <i class="fa fa-list"></i>
          Listar Practicas
          <% end %>
          <%= nav_link nueva_oferta_path do %>
          <i class="fa fa-plus"></i>
          Agregar Practica
          <% end %>
        </ul>
      </li>



    <% end %>
  </ul>




</section>
<script>
$(document).ready(function(){
    $("#p").click(function(){
    
        $("#x").slideToggle();
    });
    $("#a").click(function(){
    
        $("#y").slideToggle();
    });
});
</script>
<script>
$(document).ready(function(){
    $("#j").click(function(){
    
        $("#k").slideToggle();
    });
    $("#a").click(function(){
    
        $("#y").slideToggle();
    });
});
</script>

<script>
$(document).ready(function(){
    $("#l").click(function(){
    
        $("#m").slideToggle();
    });
    $("#a").click(function(){
    
        $("#y").slideToggle();
    });
});
</script>

<script>
$(document).ready(function(){
    $("#n").click(function(){
    
        $("#o").slideToggle();
    });
    $("#a").click(function(){
    
        $("#y").slideToggle();
    });
});
</script>

<script>
$(document).ready(function(){
    $("#r").click(function(){
    
        $("#s").slideToggle();
    });
    $("#a").click(function(){
    
        $("#y").slideToggle();
    });
});
</script>
<script>
$(document).ready(function(){
    $("#t").click(function(){
    
        $("#u").slideToggle();
    });
    $("#a").click(function(){
    
        $("#y").slideToggle();
    });
});
</script>
<script>
$(document).ready(function(){
    $("#v").click(function(){
    
        $("#w").slideToggle();
    });
    $("#a").click(function(){
    
        $("#y").slideToggle();
    });
});
</script>
<script>
$(document).ready(function(){
    $("#1").click(function(){
    
        $("#2").slideToggle();
    });
    $("#a").click(function(){
    
        $("#y").slideToggle();
    });
});
</script>
<script>
$(document).ready(function(){
    $("#3").click(function(){
    
        $("#4").slideToggle();
    });
    $("#a").click(function(){
    
        $("#y").slideToggle();
    });
});
</script>
<script>
$(document).ready(function(){
    $("#5").click(function(){
    
        $("#6").slideToggle();
    });
    $("#a").click(function(){
    
        $("#y").slideToggle();
    });
});
</script>
<script>
$(document).ready(function(){
    $("#z").click(function(){
    
        $("#q").slideToggle();
    });
    $("#a").click(function(){
    
        $("#y").slideToggle();
    });
});
</script>